.red {
    background-color: rgba(158, 56, 56, 0.877);
}

.blue {
    background-color: rgb(33, 33, 94);
    color: rgb(230, 221, 221);
}

.par {
    font-size: 3rem;
    background-color: green;
    color: rgb(170, 169, 169);

}